{% extends 'adminpanel/admin_base.html' %}
{% block title %}
    kidspark  | adminHome 
{% endblock %}
{% block content %} 
<div class="row m-5">
    <div class="col-9"></div>
    <div class="col-3"><a href="{% url 'add_product' %}">Add New Product</a></div>
</div>
<div class="row m-5">
{% for product in products %}
    <div class="col-3 m-5">
        <div class="card" style="width: 18rem; height:500px">
            <img src="{{ product.image.url }}" class="card-img-top" alt="..." width="250px" height="250px">
            <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{product.description}} <br>Rs. {{product.price}}/- <br>
                {% if product.stock != 0 %} 
                   <label style="color: blue;"> Stock {{product.stock}} available</label><br>
                {% else %}
                <label style="color:red">Currently Unavailable!!!</label>
                {% endif %}
                <label class="btn btn-secondary">{{ product.category.name }}</label>
            </p>
           
            <a href="{% url 'edit_product' product.id %}" class="btn btn-primary">EDIT</a> 
            <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">DELETE</a> 
       
              
            </div>
        </div>
    </div>

  {% endfor %}
</div>
{% endblock %}

