{% extends 'adminpanel/admin_base.html' %}
{% block title %}
    kidspark  | Categorylist 
{% endblock %}
{% block content %} 
<div class="row m-5">
    <div class="col-9"></div>
    <div class="col-3"><a href="{% url 'add_category' %}">Add New Category</a></div>
</div>
<div class="row m-3">
    <div class="col-12 text-center">
        <table class="table table-warning table-striped">
            <tr>
                <th>ID</th>
                <th>Category Name</th>
                <th colspan="2"> Actions</th>
            </tr>
            {% for category in categories %}
            <tr>
                <td><label>{{ category.id }}</label></td>
                <td><label>{{ category.name }}</label></td>
                <td><a href="{% url 'edit_category' category.id %}" class="btn btn-primary">Edit</a></td>
                <td>
                    <form method="post" action="{% url 'delete_category' category.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Delete Category " class="btn btn-danger"/>

                    </form> 
                    
                </td>
            </tr>
            {% endfor %}
        </table>
        
    </div>
</div>

{% endblock %}